<div>
	<table>
		<thead>
			<tr>
				<th>タイトル</th>
			</tr>
		</thead>
		<tbody>
			<% @tasks.each do |task| %>
				<tr>
					<td><%= CGI.escapeHTML(task.title) %></td>
					<td>
						<% unless task.completed %>
							<form action="/tasks/<%= task.id %>/done" method="post">
								<input type="submit" value="Done!">
							</form>
						<% else %>
							Done!
						<% end %>
					</td>
				</tr>
			<% end %>
			<tr>
				<td colspan="6"><a href="/tasks/new">新しいtodoを追加</a></td>
			</tr>
		</tbody>
	</table>
</div>
