<div class="container">
    <form action="/tasks" method="post">
        <div class="controls">
            <div class="form-group">
                <input class="form-control input-lg" type="text" name="title" placeholder="タイトル"><br>
                <input class="form-control input-lg" type="text" name="due_date" placeholder="締切"><br>
            </div>
            リスト:
            <select name="list" class="form-control">
                <% List.all.each do |list| %>
                    <option value="<%= list.id %>"><%= list.name %></option>
                <% end %>
            </select>
            <div class="form-control col-lg-4">
                <input class="form-control col-lg-4" type="submit" value="登録">
            </div>
        </div>
    </form>
</div>